extends layout

block content
    .container-fluid
        .row
            .sidebar.col-lg-3
                .profile-img
                h3.text-center Hi Jean Paul
                ul
                    li
                        a.d-flex.justify-space-between
                            div.icon
                                i.fa.fa-address-card-o.fa-2x(aria-hidden="true")
                            div.icon-text
                                span.event-name #{user.name}
                    li
                        a.d-flex.justify-space-between
                            div.icon
                                i.fa.fa-calendar.fa-2x(aria-hidden="true")
                            div.icon-text
                                span.event-date #{user.date}
                    li
                        a.d-flex.justify-space-between
                            div.icon
                                i.fa.fa-map-marker.fa-2x(aria-hidden="true")
                            div.icon-text
                                span.event-city #{user.city}, #{user.state}
            .event-info.col-lg-9
                h3 Items to Bring
                hr
                body
                    form.form-inline(method='POST', action='/user/item' enctype="application/x-www-form-urlencoded")
                        input(type="hidden" name="_method" value="PUT")
                        .form-group
                            label(for='name')
                            input#name.form-control(type='text', placeholder='(input item)' name='name')
                            | &nbsp;&nbsp;
                            button.btn.btn-primary(type='submit') Add item!
                br
                h3 Guests
                table.table.table-striped
                    thead
                        tr 
                            th Username
                            th Item
                    tbody
                    each val in user
                        tr
                            td #{val.username}
                            td #{val.item}